@model MerchendisersMVC.WebUI.Models.ErrorViewModel

@{
    ViewBag.Title = "Greška";
}

<h1 class="text-danger">GREŠKA!!!</h1>
<h2 class="text-danger">Došlo je do greške tokom procesuiranja Vašeg zahteva.</h2>
<p id="errMsg">@Model.ErrorMessage</p>

