@{
    ViewBag.Title = "Detalji";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@Html.Partial("_DetailsPartial")

<p>
    <a class="btn btn-primary" href="@Url.Action("Index")">Povratak na listu</a>
</p>
